################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
#*.cache
**/obj
**/wwwroot
**/bin
/packages
**/app/**/*.js*
*.csproj.user
